*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
header{
    transition-duration: 0.5s;
}
@font-face{
    font-family: "lemon";
    src: url(../fonts/LEMONMILK-Medium.woff);
}
nav li{
    margin: 0px 5px;
    transition-duration: 0.5s;
}
nav li:hover{
    box-shadow:
    1px 1px rgb(170, 170, 170),
    2px 2px rgb(170, 170, 170),
    3px 3px rgb(170, 170, 170);
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}
#subtitle{
    font-family: "lemon";
    color: lavender;
    font-size: 60px;
}
#text{
    color: lavender;
    text-align: justify;
    margin: 0px 50px;
}