*{
    margin: 0;
    padding: 0;
}
html{
    scroll-behavior: smooth;
}
header{
    transition-duration: 0.5s;
}
article{
    background-image: url(../img/bg-bible.jpeg);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
}
@font-face{
    font-family: "lemon";
    src: url(../fonts/LEMONMILK-Medium.woff);
}
nav li{
    margin: 0px 5px;
    transition-duration: 0.5s;
}
nav li:hover{
    box-shadow:
    1px 1px rgb(170, 170, 170),
    2px 2px rgb(170, 170, 170),
    3px 3px rgb(170, 170, 170);
    -webkit-transform: translateX(-3px);
    transform: translateX(-3px);
}
#subtitle{
    font-family: "lemon";
    color: lavender;
    font-size: 80px;
    padding-bottom: 10px;
}
footer{
    text-align: center;
}
#mensagem{
    background-color: rgba(230, 230, 250, 0.7);
    border-radius: 10px;
    padding: 0px 25px;
}
.text{
    font-family: "lemon";
    color: lavender;
}
.fab{
    font-size: 50px;
    margin: 0px 20px;
}
.fa-facebook{
    color: #3b5998;
}
.fa-instagram{
    color: #517fa4;
}
.fa-whatsapp{
    color: #34af23;
}
.fa-youtube{
    color: #bb0000;
}
.fa-facebook:hover{
    color: #0e3996;
}
.fa-instagram:hover{
    color: #1d66a1;
}
.fa-whatsapp:hover{
    color: #217017;
}
.fa-youtube:hover{
    color: #7c0606;
}
.subtitle{
    font-family: "lemon";
    color: lavender;
    font-size: 40px;
    border-bottom: 3px solid lavender;
    padding-bottom: 10px;
}
a:link{
    text-decoration: none;
    outline: none;
}

/* Alterações Baseadas na mudança de tamanho */

/* Celular */
@media screen and (max-width: 345px) {
    #logo {width: 150px;}
    .icone {width: 75px;}
    #mensagem {padding: 0px 10px;}
}
@media screen and (max-width: 570px) {
    #subtitle {font-size: 60px;}
}
@media screen and (max-width: 470px) {
    .fab {font-size: 40px;}
    #subtitle {font-size: 40px;}
    #title-mensagem {font-size: 40px;}
}
@media screen and (max-width: 800px) {
    .icone {margin: 20px 0px;}
}
@media screen and (max-width: 992px) {
    #Siga-nos {margin-bottom: 30px;}
}